{% extends "@ETFSSite/default/layout.html.twig" %}

{% block title %}{{ parent() }} - RAC Conduite {%  endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">RAC Conduite</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-md-4">
        <h3>BENYAIYCH Youssef</h3>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <label for="Select">Conducteur</label>
            <select id="Select" class="form-control">
                <option>CRL 1</option>
                <option>CRL 2</option>
                <option>CRL 3</option>
                <option>CRL 4</option>
                <option>CRL 5</option>
                <option>CRL 6</option>
                <option>CRL 7</option>
                <option>CRL 8</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li><a href="#partie1" data-toggle="tab">Partie 1</a>
                        </li>
                        <li class="active"><a href="#partie2" data-toggle="tab">Partie 2</a>
                        </li>
                        <li><a href="#messages" data-toggle="tab">Partie 3</a>
                        </li>
                        <li><a href="#settings" data-toggle="tab">Partie 4</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade" id="partie1">
                            <div class="row">
                                <div class="col-md-12 show-grid">
                                    <h4>Concernant la licence</h4>
                                    <div class="row show-grid">
                                        <h5>1. Numéro de la licence</h5>
                                        <div class="col-md-1">
                                            1.1
                                        </div>
                                        <div class="col-md-9">
                                            Numéro de la licence autorisant l'accés aux données figurant au registre national
                                        </div>
                                        <div class="col-md-2">
                                            FR 7120140726
                                        </div>
                                    </div>
                                    <div class="row show-grid">
                                        <h5>2. Etat actuel de la licence</h5>
                                        <div class="col-md-1">
                                            2.1
                                        </div>
                                        <div class="col-md-2">
                                            Preuve de l'état de la licence
                                        </div>
                                        <div class="alert alert-success col-md-1 col-md-offset-1 well-sm">
                                            Valide
                                        </div>
                                        <div class="alert alert-warning col-md-1 col-md-offset-1 well-sm">
                                            Suspendue
                                        </div>
                                        <div class="alert alert-danger col-md-1 col-md-offset-1 well-sm">
                                            Retiré
                                        </div>
                                        <div class="alert alert-success col-md-2  col-md-offset-1 well-sm">
                                            04/08/2024
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in active" id="partie2">
                            <div class="row">
                                <div class="col-lg-12 show-grid">
                                    <h4>Informations sur l'attestation complémentaire délivrée, telles qu'elles sont énumérées à l'annexe I, point 3, de la directive 2007/59/CE</h4>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Collapsible Accordion Panel Group
                                        </div>
                                        <!-- .panel-heading -->
                                        <div class="panel-body">
                                            <div class="panel-group" id="accordion">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Collapsible Group Item #1</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse collapse in">
                                                        <div class="panel-body">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Collapsible Group Item #2</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Collapsible Group Item #3</a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="messages">
                            <h4>Informations historiques sur l'état de l'attestation complémentaire</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="settings">
                            <h4>Informations historiques sur les exigences fondamentales de la délivrance d'une attestation complémentaire et sur les résultats des vérifications périodiques</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
{% endblock %}