{% extends "@ETFSSite/default/layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil {%  endblock %}

{% block body %}
    Page d'accueil{{ app.request.attributes.get('_route') }}
{% endblock %}