<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%  block title %}ETF Services{% endblock %}</title>

    {% stylesheets filter='cssrewrite, scssphp'
        'vendor/bootstrap/css/bootstrap.min.css'
        'vendor/metisMenu/metisMenu.min.css'
        'dist/css/sb-admin-2.css'
        'vendor/font-awesome/css/font-awesome.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link rel="icon" type="image/png" href="favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={{ path('etfs_site_homepage') }}>ETF Services</a>
        </div>
        <!-- /.navbar-header -->

        {% if app.user %}
            {{ render(controller("ETFSSiteBundle:Site:Headmenu")) }}
            
            <div class="navbar-default sidebar" role="navigation">
                {{ render(controller("ETFSSiteBundle:Site:Sidemenu")) }}
            </div>
        {% endif %}
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <!--<div class="container-fluid">-->
            <div class="row">
                <div class="col-lg-12">
                    {% block body %}
                    {% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        <!--</div>-->
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- footer -->
<footer class="footer">
    <div class="container">
                <span class="text-muted">
                    © 2018 Tous droits réservés
                    <a href={{ path('etfs_site_homepage') }}> ETF Services web application {{ version }} </a>
                </span>
    </div>
</footer>
<!-- /#footer -->

{% javascripts filter='jsqueeze'
    'vendor/jquery/jquery.min.js'
    'vendor/bootstrap/js/bootstrap.min.js'
    'vendor/metisMenu/metisMenu.min.js'
    'dist/js/sb-admin-2.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>