{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<div class="container">
   <div class="row">
       <div class="col-md-6 col-md-offset-4">
           <div class="login-panel panel panel-default">
               <div class="panel-heading">
                   <h3 class="panel-title">Connectez vous</h3>
               </div>
               <div class="panel-body">
                   <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                       <fieldset>
                           {% if csrf_token %}
                               <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                           {% endif %}
                           <div class="form-group">
                               <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Matricule" autofocus />
                           </div>
                           <div class="form-group">
                               <input class="form-control" type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}" value=""/>
                           </div>
                           <div class="form-group">
                               <div class="checkbox">
                                   <label>
                                       <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
                                   </label>
                               </div>
                           </div>
                           <!-- Change this to a button or input when using this as a form -->
                            <input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>